.TableContainer {
  overflow-x: scroll;
  overflow-y: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  max-width: 100%;
}

.Table {
  min-width: 100%;
  background: white;
}

.Table td {
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 5px;
  text-align: center;
}

.Table td[role='title'] {
  max-width: 200px;
  min-width: 150px;
}

.Table span {
  white-space: nowrap;
}

.Table input {
  border: none;
  outline: none;
  padding: 0;
  font-size: 16px;
  width: 100%;
}

.Table a {
  text-decoration: underline;
}

.Table a:hover {
  color: #0059ff;
}
