.Header {
  --size: 25px;
  --titleSize: 100px;
  --blueColor: #3ea6ff;
  --grayColor: #6f6f6f;
  gap: 5px;
  background-color: #202020;
  color: white;
}

.Header {
  display: grid;
  align-items: center;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 99999;
}

.SearchContainer {
}

@media only screen and (max-width: 600px) {
  .Header {
    padding: 5px;
    gap: 10px !important;
  }

  .Title {
    justify-self: left;
    width: min-content;
  }

  .SearchContainer {
    display: grid;
    grid-template-columns: min-content min-content;
  }

  .Search.Active {
    display: grid;
  }

  .Search.Disable {
    display: none !important;
    visibility: none !important;
  }

  .SearchTrigger {
    text-align: center;
    align-self: center;
    width: 27px;
    height: auto;
    height: auto;
    fill: white;
  }

  .SearchSimple {
    justify-self: right;
  }

  .Button,
  .Create,
  .Apps,
  .Notifications {
    display: none !important;
    visibility: hidden !important;
  }
}

@media only screen and (min-width: 601px) {
  .Header {
    --paddingLR: 10px;
    --paddingUD: 5px;
    grid-template-columns: repeat(2, min-content) auto repeat(4, min-content) !important;
    padding: var(--paddingUD) var(--paddingLR) var(--paddingUD) var(--paddingLR);
  }

  .SearchTrigger {
    display: none;
    visibility: hidden;
  }

  .SearchSimple {
    display: none;
    visibility: hidden;
  }
}

.Button {
  height: var(--size);
  color: inherit;
  display: grid;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.Title {
  width: var(--titleSize);
  height: 100%;
}

.Search {
  align-items: center;
  grid-template-columns: auto min-content;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 601px) {
  .Search {
    display: grid;
    max-width: 525px;
  }
}

/* Sizes */
.Button,
.Create,
.Apps,
.Notifications,
.SearchSimple {
  width: var(--size);
  height: var(--size);
}

.Button,
.Title,
.Create,
.Apps,
.Notifications {
  cursor: pointer;
}

.Button,
.Create,
.Apps,
.Notifications,
.Title,
.SearchSimple {
  fill: white;
}

/* Nested */
.SearchInput {
  padding: 5px 10px;
  border: solid 1px transparent;
  outline: none;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 1);
  box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 1);
  height: 28px;
  border-radius: 3px 0px 0px 3px;
  font-weight: 550;
  background-color: #121212;
  color: inherit;
}

.SearchInput input:focus {
  border: solid 1px var(--blueColor);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(62, 166, 255, 1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(62, 166, 255, 1);
  box-shadow: 0px 0px 2px 0px rgba(62, 166, 255, 1);
}

.Search button {
  cursor: pointer;
  width: 50px;
  height: 28px;
  padding: 3px;
  outline: none;
  border: solid 1px transparent;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 1);
  box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 1);
  border-radius: 0px 3px 3px 0px;
  background: #323232;
  fill: var(--grayColor);
}
