.Header {
  --size: 25px;
  --titleSize: 100px;
  --blueColor: #3ea6ff;
  --grayColor: #6f6f6f;
  gap: 5px;
  background-color: #202020;
  color: white;
}

.Header {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 99999;
}

@media only screen and (max-width: 600px) {
  .Header {
    padding: 5px;
    gap: 10px !important;
    grid-template-columns: auto min-content min-content;
    grid-template-areas: 'Title SearchSimple User';
  }

  .Title {
    justify-self: left;
  }

  .SearchSimple {
    justify-self: right;
  }

  .Button,
  .Create,
  .Apps,
  .Notifications,
  .Search {
    display: none !important;
    visibility: hidden !important;
  }
}

@media only screen and (min-width: 601px) {
  .Header {
    --paddingLR: 10px;
    --paddingUD: 5px;
    grid-template-columns: repeat(2, min-content) auto repeat(4, min-content);
    grid-template-areas: 'Button Title Search Create Apps Notifications User';
    padding: var(--paddingUD) var(--paddingLR) var(--paddingUD) var(--paddingLR);
  }

  .SearchSimple {
    display: none;
    visibility: hidden;
  }
}

.Button {
  height: var(--size);
  grid-area: Button;
  color: inherit;
  display: grid;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.Title {
  width: var(--titleSize);
  height: 100%;
  grid-area: Title;
}

.Search {
  align-items: center;
  display: grid;
  grid-template-columns: auto min-content;
  grid-area: Search;
  max-width: 525px;
  width: 100%;
}

.SearchSimple {
  grid-area: SearchSimple;
}

.Create {
  grid-area: Create;
}

.Apps {
  grid-area: Apps;
}

.Notifications {
  grid-area: Notifications;
}

/* Sizes */
.Button,
.Create,
.Apps,
.Notifications,
.SearchSimple {
  width: var(--size);
  height: var(--size);
}

.Button,
.Title,
.Create,
.Apps,
.Notifications {
  cursor: pointer;
}

.Button,
.Create,
.Apps,
.Notifications,
.Title,
.SearchSimple {
  fill: white;
}

/* Nested */
.Search input {
  padding: 5px 10px;
  border: solid 1px transparent;
  outline: none;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 1);
  box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 1);
  height: 28px;
  border-radius: 3px 0px 0px 3px;
  font-weight: 550;
  background-color: #121212;
  color: inherit;
}

.Search input:focus {
  border: solid 1px var(--blueColor);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(62, 166, 255, 1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(62, 166, 255, 1);
  box-shadow: 0px 0px 2px 0px rgba(62, 166, 255, 1);
}

.Search button {
  cursor: pointer;
  width: 50px;
  height: 28px;
  padding: 3px;
  outline: none;
  border: solid 1px transparent;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 1);
  box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 1);
  border-radius: 0px 3px 3px 0px;
  background: #323232;
  fill: var(--grayColor);
}
