.Container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: grid;
  gap: 1rem 1rem;
  justify-content: center;
}

.Container:not(:first-child) {
  border-top: none !important;
}

@media only screen and (max-width: 600px) {
  .Container {
    grid-template-columns: 1;
  }
}

@media only screen and (min-width: 601px) {
  .Container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
