.Container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: grid;
  gap: 1rem 1rem;
  justify-content: center;
}

.Container:not(:first-child) {
  border-top: none !important;
}

@media only screen and (max-width: 600px) {
  .Container {
    grid-template-columns: 1;
  }
}

@media only screen and (min-width: 601px) {
  .Container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

/* Buscar */
.BuscarContainer {
  --grayColor: #aaaaaa;
  fill: var(--grayColor);
  color: var(--grayColor);
}

@media only screen and (min-width: 601px) {
  .BuscarContainer {
    display: grid;
    justify-content: center;
  }

  .BuscarContainerChild {
    width: 80vw;
  }
}

.Filter {
  padding: 15px 0px 5px 0px;
  display: grid;
  grid-template-columns: min-content auto;
  border-bottom: solid thin var(--grayColor);
  justify-content: left;
  align-items: center;
  gap: 5px;
  margin: 0px 10px 5px 10px;
}

.Filter:hover {
  fill: white;
  color: white;
  cursor: pointer;
}

.Filter svg {
  pointer-events: none;
  display: block;
  width: 23px;
  height: auto;
}

.Filter span {
  text-transform: uppercase;
  font-weight: bold;
}
