.Navbar {
  --size: 25px;
  --titleSize: 100px;
  --blueColor: #3ea6ff;
  --grayColor: #6f6f6f;
}

.Navbar {
  min-height: calc(100vh - 50px);
  background-color: #202020;
  transition: all ease-in-out 0.5s;
  z-index: 2;
}

@media only screen and (max-width: 600px) {
  .MobileButton {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    gap: 15px;
    padding: 10px 30px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  }

  .MobileButton span {
    color: white;
  }

  .MobileButton span[role='title'] {
    font-weight: bold;
    font-size: 1.25rem;
  }

  .Navbar.Active {
    position: fixed;
    right: 0px;
    left: 0px;
    top: 49px;
    bottom: 0px;
    overflow: scroll;
  }

  .Navbar.Disable {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 100vh;
    bottom: -100vh;
    visibility: hidden;
  }

  .Menu {
    width: 100vw;
  }
}

@media only screen and (min-width: 601px) {
  .Navbar {
    margin-top: 50px;
  }

  .Menu {
    width: 100%;
  }

  .MobileButton {
    display: none;
    visibility: hidden;
  }

  .Navbar {
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
  }

  .Navbar.Active {
    position: fixed;
    overflow: auto;
    width: 250px !important;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }

  .Navbar.Disable {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    width: 0px !important;
  }
}

.Container div {
  color: white;
  padding: 15px 0px;
  border-bottom: 1px solid var(--grayColor);
}

.Container div div {
  padding: 10px;
  display: grid;
  grid-template-columns: min-content auto;
  gap: 15px;
  align-items: center;
  font-weight: bold;
  border: none;
}

.Container div div:hover {
  background: var(--grayColor);
  cursor: pointer;
}

.Container div div svg {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  fill: var(--grayColor);
  pointer-events: none;
  display: block;
}

/* Nesting */

.ClassUser p,
.ClassUser section {
  margin-left: 20px;
  margin-right: 20px;
}

.ClassUser {
  display: grid;
}
