.Main {
  --PC: 20px;
  --PCS: 10px;
  --MB: 5px;
  --blueColor: #3ea6ff;
  --grayColor: #6f6f6f;
  --blackColor: #181818;
  justify-self: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: var(--blackColor);
}

@media only screen and (min-width: 1000px) {
  .Main {
    padding: var(--PC) 5%;
  }
  .Container {
    gap: var(--PC);
  }
}

@media only screen and (min-width: 601px) and (max-width: 999px) {
  .Main {
    padding: var(--PCS) 3%;
  }
  .Container {
    gap: var(--PCS);
  }
}

.Main svg {
  width: 20px;
  height: 20px;
  fill: var(--grayColor);
}

.DataGrid {
  display: grid;
  grid-template-columns: min-content auto;
}

@media only screen and (min-width: 601px) {
  .DataGrid {
    gap: var(--PCS);
  }
}

/* Provisional */
.Player img {
  width: 100%;
  height: auto;
  display: block;
}

/**/

.Container {
  display: grid;
  grid-template-columns: auto 20%;
  color: white;
}

.VideoInfo {
  display: grid;
  margin-top: 15px;
}

.videoTitles {
  display: grid;
  grid-template-columns: auto min-content;
  margin-top: 10px;
}

/* Nesting */
.Hashtags {
  color: var(--blueColor) !important;
}

.VideoTitle {
  font-weight: 500;
  font-size: 1.25rem;
}

/* Vidoe MetaData */
.VideoMetaContainer {
  display: grid;
  grid-template-columns: auto repeat(4, min-content);
  gap: var(--PC);
  margin-top: 5px;
}

.VideoMetaContainer div {
  align-items: center;
  display: grid;
}

.VideoMeta {
  color: var(--grayColor) !important;
}

.VideoPops {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: calc(var(--PC) * 1.25);
}

.VideoPops div {
  grid-template-columns: repeat(2, min-content);
  gap: var(--MB);
}

.VideoShare,
.VideoSave {
  grid-template-columns: repeat(2, min-content);
  gap: var(--MB);
}

.VideoPops,
.VideoShare,
.VideoSave,
.VideoOptions {
  cursor: pointer;
}

/* User */
.ProfilePic {
  display: grid;
  width: 55px;
  border-radius: 100%;
}

.ProfilePic img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 100%;
}

.showData /* Controla el tamaño de la data cargada, title, desc */ {
  overflow: hidden;
}

.ProfileTitle {
  font-weight: 500;
}

.ProfileSubsCount {
  color: var(--grayColor) !important;
}

.ProfileSub {
  background: #c00;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  width: min-content;
  cursor: pointer;
}

/**/
.videoDesc {
  line-height: 25px;
  padding: 0px;
  margin: 10px 0px 0px 0px !important;
}

/**/
.ShowMore {
  background: transparent;
  margin-top: 10px;
}

.ShowMore button {
  background: transparent;
  outline: none;
  border: none;
  color: var(--grayColor);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  padding: 0px;
}

/**/
.Recomendations {
  display: grid;
  padding: 0 !important;
}

.Recomendations div:first-child {
  padding-top: 0px !important;
  margin-top: 0px !important;
}
